@import "../../../../../landing/signInModule/stylesVariables.scss";
@import "../../../../../landing/signInModule/global.scss";

.modalBackdrop {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100vw;
  z-index: 1000;
  
  .modalContent {
    background: $tertiary;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 20px 25px;
    position: relative;
    width: 80%;
    z-index: 1001;

    .closeButton {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      user-select: none;
      -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile
      
      img {
        height: 15px;
        filter: invert(10%) sepia(33%) saturate(3192%) hue-rotate(225deg) brightness(81%) contrast(100%); 
        transition: all 0.2s ease-in-out;
        width: 15px;

        &:hover {
          filter: brightness(0) saturate(100%) invert(58%) sepia(20%) saturate(5091%) hue-rotate(17deg) brightness(100%) contrast(98%);
        }
      }
    }

    .headerBg {
      margin: 0 0 15px 15px;

      .txtTitle {
        background-color: $tertiary;
        border-radius: 20px;
        font-size: 20px;
        padding: 0 5px;
        position: absolute;
        height: 30px;
      }
    }
    

    .imageCarousel {
      display: flex;
      flex-direction: column;
      gap: 5px;
      max-width: 490px;
      z-index: -1;

      .imageContainer {
        width: 100%; 

        .slickSlide {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .carouselImage {
          width: 100%;
          border-radius: 20px;
          // height: 50%;
          object-fit: cover;
          height: 250px;
          // width: 100%;
        }

        // IF NO IMAGE IS UPLOADED
        .noImg {
          background-color: $outOfFocus;
          border-radius: 20px;
          align-items: center;
          display: flex;
          justify-content: center;
          height: 200px;
          width: 100%;
          margin-bottom: 20px;
  
          span {
            font-size: 15px;
          }
        }
      }
    }

    .infoContainer {
      align-self: center;
      background-color: black;
      border-radius: 10px 70px 0 0;
      // margin-bottom: -20px;
      margin-top: 10px;
      max-width: 510px;
      padding: 10px 22px 0 22px;
      transition: all 0.2s ease-in-out;
      width: 100%;

      .description, .technologies {
        height: 100%;


        // Modified by Lorenzo @ 05/01/2025
        .txtSubTitle {
          color: $tertiary;
          font-size: 8px;
          margin-bottom: 15px;
          margin-top: 10px;
          width: 80%;
          padding-left: 20px;
          // added by lorenzo - 05/01/2025
          text-align: justify;
          max-height: 100px;
          overflow-y: scroll;
          padding-right: 10px;
          word-wrap: break-word;
        }
      }

      // added and modified by Lorenzo @ 05/01/2025
      .infoBtn {

        position: relative;

        .btns {
          margin-top: 20px;
          display: flex;
          margin-left: -10px;

          li {
            color: $tertiary;
            list-style-type: none;

            span {
              border-radius: 7px 7px 0 0;
              font-family: $title;
              font-size: 9px;
              margin-right: 5px;
            }

            .descBtn {
              background-color: black;
              padding: 5px 10px 0 10px;
            }

            .techBtn {
              background-color: $primary;
              padding: 5px 10px 0 10px;
            }
          }
        }


        // diff check this part - lorenzo - 05/01/2025
        .speaker {
            background-color: $primary;
            border-radius: 50%;
            height: 35px;
            right: 20px;           // modified by Lorenzo
            position: absolute;
            top: -45px;         // modified by Lorenzo
            transition: all 0.2s ease-in-out;
            width: 35px;
            user-select: none;
            -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile

            .icon {
              height: 20px;
              width: 20px;
            }

            &:hover {
              scale: 1.1;
            }
        }

        // added by lorenzo @05/01/2025 - language toggle
        .toggleSwitch {
          width: 65px;
          height: 25px;
          right: 5px;
          top: -5px;
          background-color: #ccc;
          border-radius: 999px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 8px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          position: absolute;
        
          .label {
            color: white;
            font-weight: bold;
            font-size: 10px;
            transition: all 0.3s ease;
            z-index: 2;
          }
        
          .switchCircle {
            width: 15px;
            height: 15px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            transition: transform 0.3s ease;
          }
        
          &.on {
            background-color: $secondary;
        
            .switchCircle {
              transform: translateX(30px); // right side
            }
        
            .label {
              position: absolute;
              left: 10px;
            }
          }
        
          &.off {
            background-color: #999;
        
            .switchCircle {
              transform: translateX(0px); // left side
            }
        
            .label {
              position: absolute;
              right: 10px;
            }
          }
        }
      }
    }

    .infoContainer.active {
      background-color: $primary;
    }
  }
}

.line { //line separator
  border-bottom: 1px solid $outOfFocus;
  width: 60%;
}

// RESPONSIVE DESIGN

@media (min-width: 576px) {
  .modalBackdrop {
    .modalContent {
        .headerBg {
          .txtTitle {
            font-size: 30px;
            height: 40px;
            padding: 0 10px;
          }
        }

        .infoContainer {
          .description, .technologies {
            .txtSubTitle {
              font-size: 10px;
            }
          }
          
          // modified by Lorenzo @05/01/2025
          .infoBtn {
            .btns {
              li {
                span {
                  border-radius: 10px 10px 0 0;
                  font-size: 12px;
                }
              }
            }

            // removed - Lorenzo - 05/01/2025
            // .speaker {
            //   // height: 50px;
            //   // top: 82%;
            //   // width: 50px;
            // }
          }
        }
    }
  }
}

@media (min-width: 768px) {
  .modalBackdrop {
    .modalContent {

        .infoContainer {
          .description, .technologies {
            .txtSubTitle {
              font-size: 12px;
            }
          }


          // removed by Lorenzo @ 05/01/2025
          // .speaker {
          //   top: 85%;
          // }
        }
    }
  }
}


@media screen and (orientation: landscape) and (max-width: 844px) {
  .modalBackdrop {
    .modalContent {
      max-height: 250px;
      overflow-y: scroll;
      padding: 16px 30px;
      max-width: 360px;

      .closeButton {
        font-size: 12px;
        right: 8px;
        top: 8px;

        img {
          width: 12px;
          height: 12px;
        }
      }

      .headerBg {
        margin: 0 0 10px 10px;

        .txtTitle {
          font-size: 14px;
          height: 22px;
          padding: 0 6px;
        }
      }

      .imageCarousel {
        .imageContainer {
          .carouselImage {
            height: 160px;
          }

          .noImg {
            height: 140px;

            span {
              font-size: 12px;
            }
          }
        }
      }

      .infoContainer {
        margin-top: 6px;
        padding: 6px 12px 0 12px;

        .description, .technologies {
          .txtSubTitle {
            font-size: 7px;
            max-height: 80px;
            padding-right: 6px;
          }
        }

        .infoBtn {
          .btns {
            margin-top: 10px;
            margin-left: -6px;

            li {
              span {
                font-size: 7px;
                margin-right: 3px;
              }
            }
          }

          .speaker {
            width: 25px;
            height: 25px;
            top: -30px;
            right: 15px;

            .icon {
              width: 15px;
              height: 15px;
            }
          }

          .toggleSwitch {
            width: 55px;
            height: 20px;
            right: 3px;
            top: -5px;

            .label {
              font-size: 8px;
            }

            .switchCircle {
              width: 12px;
              height: 12px;
              top: 4px;
            }

            &.on .switchCircle {
              transform: translateX(25px);
            }
          }
        }
      }
    }
  }
}
